<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    </head>
    <body>
     <nav id="navBG" class="navbar navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">YelpCamp</a>
        </div>
        <div class="collapse navbar-collapse">
           
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navHover" href="/other/colorGame">ColorGame Project</a></li>
                <li><a class="navHover" href="/other/todoList">ToDo List Project</a></li>
                <li><a class="navHover" href="/campgrounds">View All Campgrounds</a></li>
                <li><a class="navHover" href="/campgrounds/new">Add New Campground</a></li>
                <li><a class="navHover" href="/other/about">About</a></li>
                <% if(!currentUser){ %>
                <li><a class="navHover" href="/login">Login</a></li>
                <li><a class="navHover" href="/register">Sign Up</a></a></li>
                <% } else { %>
                 <li><a>Signed In As <%= currentUser.username %></a></li>
                <li><a class="navHover" href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </div>
        </div>
    </nav>  
