<% include ../partials/header %>
            
            
            <video id="aboutBG" autoplay="" loop="" muted="" poster="">
            <source src="/stylesheets/water.mp4">
            </video>

<div class="row">
    
    <div class="col-md-4 col-md-offset-4">
        <div>
        <div class="well">
            <img style="border-radius: 50%; width: 200px; margin: auto; padding: 0 auto;" src="/stylesheets/me.jpg"></img>
            <h4>About:</h4>
            <p style="text-align: justify;">Hello, my name is Joshua Seitz. Welcome to Yelp Camp. I learned Yelp Camp from an online class, which I am still taking. I am eager to learn everything about web development and all of the new technologies that come with it. This website is a simple Express App with MongoDB as the database. It follows the RESTful routes conventions.  Yelp Camp lets you add your own campground with name, image, and description. You can also add comments to other campgrounds on this site. Everything is backed up onto a database, so that your campground(s) will never be lost! Give the website a try, and add your own campground(s).  There is still much work to be done with Yelp Camp.  Everyday, I am learning more, in order to become a better full stack developer.</p>
        </div>
    </div>
</div>


<% include ../partials/footer %>